/*********************************************
GENERAL
*********************************************/



/*********************************************
HEADING
*********************************************/

h1 {
    font-family: 'Sacramento', cursive;
    margin: 15px 0;
    font-weight: normal;
    line-height: 0.5em;
}
h2 {
    font-family: 'Sacramento', cursive;
    margin: -5px 0 0;
    font-weight: normal;
}

.jumbotron {
    margin-bottom: 16px;
}

/*********************************************
NAVIGATION
*********************************************/



/*********************************************
FOOTER
*********************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.social-icon {
    margin: 0 5px;
}

/***********************************************
GALLERY
**********************************************/

.gallery-title
{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}


.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.filter-button {
    margin: 5px;
}