@media (min-width: 768px) {

    #brand{
        margin-top: 0rem;
    }
    
    #brand h1, h2 {
        font-size: 1.75rem;
    }
    #brand a img {
        display: unset;
    }
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin:0 auto;
        }

    
    }

@media (min-width: 1000px) {
    #brand {
        flex-direction: row;
    }
    #brand h1, h2 {        
        margin: auto;
    }
    #brand h2 {
        margin-bottom: auto;
    }

}
    